
footer {
	
	font-family:courier;
    font-size:70%;	
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
	}

.hidden{
	
	display: none;
}

.unhidden { 
	
	display: block; 
}

.warning
{	
	color: red;
	font-size:.95em;	
}

form.user-input table {
 background-color: rgb(83%, 83%, 83%);
 border-style: solid;
 border-width: 1px; 
 border-color: black;
 padding: 1.0em;
}

caption { 
    display: table-caption;
    text-align: left;
    font-weight: bold;
}
.oldbutton {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.wwFormTable {

}
table.wwFormTable th {
	
	padding: 8px;
	border-style: hidden;
	border-color: #666666;
	background-color: #dedede;
}
table.wwFormTable td {
	
	padding: 1px;
	border-style: hidden;
	border-color: #666666;
	background-color: #ffffff;
}


a.activePage {
    background: #DCDCDC;
    padding: 2px 6px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: blue;
}
div.#bodyadminacontainer{
width: 295px;
height: 98px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: blue;

}
div.#adminlinkscontainer {
  float: left;
  width: 200px;
  height: 100px;
  top: 150px;
  margin: 1em;
}


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1184f7), color-stop(1, #0c7ff2) );
	background:-moz-linear-gradient( center top, #1184f7 5%, #0c7ff2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1184f7', endColorstr='#0c7ff2');
	background-color:#1184f7;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
	height:26px;
	line-height:26px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c7ff2), color-stop(1, #1184f7) );
	background:-moz-linear-gradient( center top, #0c7ff2 5%, #1184f7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c7ff2', endColorstr='#1184f7');
	background-color:#0c7ff2;
}.button:active {
	position:relative;
	top:1px;
}

.left-container{
	max-width: 100%;
	text-align: left;
    margin: 100px;
}

